/* Reset default spacing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global body style */
body {
  background-color: black;
  font-family: "Saira", sans-serif;
}

/* Navbar container styles */
.navbar-container {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Navbar list styles */
.navbar-items {
  display: flex;
}

/* Individual navbar item styling */
.navbar-items li {
  list-style: none;
  margin: 20px 30px 20px 0; /* top right bottom left */
  font-size: 1.2rem;
}

/* Navbar links styling */
.navbar-items a {
  text-decoration: none;
  color: #2d2d2d;
  font-weight: 500;
  font-size: 24px;
}

/* Logo styling */
.logo {
  margin: 20px 0 20px 30px; /* top right bottom left */
  width: 168.1px;
  height: 41px;
  object-fit: contain; /* ensures the logo scales nicely */
}
