* {
  padding: 0;
  margin: 0;
}
body {
  background-color: black;
}
.navbar-container {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  height: 70px;
  align-items: center;
}
.navbar-items {
  display: flex;
}

.navbar-items li {
  list-style: none;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

.navbar-items a {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: #2D2D2D;
    font-weight: 500;
}
.logo {
  padding: 5px;
  margin: 5px;
  width: 168.1px;
  height: 41px;
  top: 33px;
  left: 43px;
}
